:root {
  cursor: text;
}

body::-webkit-scrollbar {
  display: none;
}

$primary-green: #31d400;
$primary-red: #d80000;
$primary-blue: #1f9eff;
$primary-yellow: #e1e100;

$secondary-green: #249800;
$secondary-red: #820000;
$secondary-blue: #18729f;
$secondary-yellow: #888800;

body {
  font-family: "Roboto Mono", monospace;
  display: flex;
  padding: 0;
  margin: 0px 15px 0px 7px;
  background-color: black;
  color: $primary-green;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

p {
  margin: 0px;
  line-height: 18px;
}

.pg {
  color: $primary-green;
}

.sg {
  color: $secondary-green;
}

.pr {
  color: $primary-red;
}

.sr {
  color: $secondary-red;
}

.pb {
  color: $primary-blue;
}

.sb {
  color: $secondary-blue;
}

.py {
  color: $primary-yellow;
}

.sy {
  color: $secondary-yellow;
}

.contact .link {
    color: $primary-green;

  &:hover {
    color: $secondary-green;
  }
}
 
.project-description .link {
    color: $primary-yellow;

  &:hover {
    color: $secondary-yellow;
  }
}

.input-field {
  font-family: "Roboto Mono", monospace;
  color: $primary-green;
  background-color: transparent;
  border: none;
  caret-color: transparent;
  font-size: 16px;
  position: relative;
  right: 6px;

  &:focus {
    border: none;
    outline: none;
  }
}

.blinking-cursor {
  position: relative;
  top: 5px;
  right: -5px;
  display: inline-block;
  width: 8px;
  height: 20px;
  background-color: $secondary-green;
  animation: blink 0.9s infinite;
}

@keyframes blink {
  50% { opacity: 0; }
  100% { opacity: 1; }
}