.about {
    padding-top: 0px;
}

.about-description {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 30px;
    align-items: center;
    margin-top: 9px;
}

.ascii-art {
    font-size: 10px;
}

@media (max-width: 800px) {
    .about-description {
        grid-template-columns: 1fr;
        margin: auto;
        padding-top: 9px;
        justify-items: center;
        gap: 15px;
    }
}